<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration avec success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <div>
        <h3>Vous êtes enregistrés avec succès</h3>
        <h4><a th:href="@{/login}">se connecter</a></h4>
        <h4><a th:href="@{/login}">se connecter</a></h4>
    </div>
</div>
</body>
</html>